# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\SI2001\Desktop\SpringMVCFormValidation-master\SpringMVCFormValidation-master\TestLogin1_SpringMVC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
